<h1>Home du Projet</h1>

<h1>Listing movies</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Release_year</th>
  </tr>

    <tr>
      <td><%= @gossip.anonymous_author %></td>
      <td><%= @gossip.content %></td>
    
    </tr>
</table>